In [ ]:
import pandas as pd
import numpy as np

s = pd.Series([1,2,3,np.nan,44,1])
print(s)

dates=pd.date_range('20160101',periods=6)
print(dates)

In [ ]:
#默认的行列标题都是0,1,2,3...
df1=pd.DataFrame(np.arange(12).reshape((3,4)))
print(df1)

In [ ]:
#自定义行列的内容,DataFrame相当于一个矩阵
df2=pd.DataFrame(np.random.rand(6,4),index=dates,columns=['第一列','第二列','第三列','第四列'])
df2

In [ ]:
#DataFrame的内容还可以用字典定义
df3=pd.DataFrame({'A':1,'B':pd.Timestamp('2019.6.30'),'C':pd.Series(1,index=list(range(4)))
                  ,'D':np.array([3]*4,dtype='int32'),'E':pd.Categorical(["test","train",
                  "test","train"]),'F':'foo'})
                  
df3

In [ ]:
#查看DataFrame的属性
df3.dtypes
df3.index
df3.columns
df3.values
df1.describe()#描述
df3.T#行列互换
df3.sort_index(axis=0,ascending=False)#按照列排序
df3.sort_values(by='E')#按照内容排序

In [ ]:
dates=pd.date_range('20130101',periods=6)
df=pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=
                ['A','B',"C","D"])
df

In [ ]:
#按条件输出
df['A']
df.A
df[0:3]
df['20130101':'20130103']

#按照具体的某一个标签选择
#select by label:loc
df.loc['20130102']

In [102]:
df.loc['20130102',['A','B']]

A    4
B    5
Name: 2013-01-02 00:00:00, dtype: int32

In [ ]:
# 按照位置筛选
# select by position iloc
df.iloc[[1,3,5],1:3]

In [101]:
# 混合筛选
# mix selection:ix 
# df.ix[:3,['A','C']]

df
# Boolean indexing
# 布尔筛选
df[df.A>13]

             A   B   C   D
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23

In [124]:
#pandas 设置值
df=pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=
                ['A','B',"C","D"])
# df.iloc[0,0]=1
# df.A[df.A>2]=100
df['E']=np.nan #插入一列空列
df['F']=pd.Series([1,2,3,4,5,6],pd.date_range
                  ('20160101',periods=6))
#插入一列不为空的数据时，需要序号相同才可以
df

             A   B   C   D   E  F
2016-01-01   0   1   2   3 NaN  1
2016-01-02   4   5   6   7 NaN  2
2016-01-03   8   9  10  11 NaN  3
2016-01-04  12  13  14  15 NaN  4
2016-01-05  16  17  18  19 NaN  5
2016-01-06  20  21  22  23 NaN  6

In [137]:
#处理缺失值
#1.出现nan,丢弃行或列
df.dropna(axis=0,how='all')  #how={'any','all'}
#0表示行，1表示列，any指只要存在nan就删行或列，all需要该行
#或者是列都是nan的数据才会删除数据

df.fillna(value=0) #value是填补的值
df.isnull()#看数据是否为nan，用true、false表示
np.any(df.isnull())#any表示是否存在（）中的值为真

True

In [146]:
#数据的读取和保存
data=pd.read_csv('test.txt')
data

Empty DataFrame
Columns: [hello world]
Index: []

In [170]:
#pandas合并DataFrame
#concatenating 

df1 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'])
df2 = pd.DataFrame(np.ones((3,4))*1, columns=['a','b','c','d'])
df3 = pd.DataFrame(np.ones((3,4))*2, columns=['a','b','c','d'])

#上下合并
res = pd.concat([df1,df2,df3],axis=0,ignore_index=True)
# join,['inner','outer']
df4 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'], index=[1,2,3])
df5 = pd.DataFrame(np.ones((3,4))*1, columns=['b','c','d','e'], index=[2,3,4])
res2=pd.concat([df4,df5])#默认是outer形式
res3=pd.concat([df4,df5],join='inner',ignore_index=True)#inner为重合部分
#左右合并
res4=pd.concat([df4,df5],axis=1)
#append
res3.append(res3)
# 添加一行
newone=pd.Series([1,2,3],['b','c','d'])
res3.append(newone,ignore_index=True)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  del sys.path[0]

     b    c    d
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  1.0  1.0  1.0
4  1.0  1.0  1.0
5  1.0  1.0  1.0
6  1.0  2.0  3.0

In [187]:
#使用merge合并
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                             'A': ['A0', 'A1', 'A2', 'A3'],
                             'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                              'C': ['C0', 'C1', 'C2', 'C3'],
                              'D': ['D0', 'D1', 'D2', 'D3']})
res=pd.merge(left,right,on='key')
res
#依据key1与key2 columns进行合并，并打印出四种结果['left', 'right', 'outer', 'inner']

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [191]:
#解决重叠问题
boys = pd.DataFrame({'k': ['K0', 'K1', 'K2'], 'age': [1, 2, 3]})
girls = pd.DataFrame({'k': ['K0', 'K0', 'K3'], 'age': [4, 5, 6]})
res = pd.merge(boys, girls, on='k', suffixes=['_boy', '_girl'], how='inner')
print(res)

    k  age_boy  age_girl
0  K0        1         4
1  K0        1         5

In [192]:
# indicator=True会将合并的记录放在新的一列。
#定义资料集并打印出
df1 = pd.DataFrame({'col1':[0,1], 'col_left':['a','b']})
df2 = pd.DataFrame({'col1':[1,2,2],'col_right':[2,2,2]})
# 依据col1进行合并，并启用indicator=True，最后打印出
res = pd.merge(df1, df2, on='col1', how='outer', indicator=True)
print(res)

# 自定indicator column的名称，并打印出
res = pd.merge(df1, df2, on='col1', how='outer', indicator='indicator_column')
print(res)

   col1 col_left  col_right      _merge
0     0        a        NaN   left_only
1     1        b        2.0        both
2     2      NaN        2.0  right_only
3     2      NaN        2.0  right_only
   col1 col_left  col_right indicator_column
0     0        a        NaN        left_only
1     1        b        2.0             both
2     2      NaN        2.0       right_only
3     2      NaN        2.0       right_only

In [190]:
#自定义index打印
#定义资料集并打印出
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])

print(left)
#     A   B
# K0  A0  B0
# K1  A1  B1
# K2  A2  B2

print(right)
#     C   D
# K0  C0  D0
# K2  C2  D2
# K3  C3  D3

#依据左右资料集的index进行合并，how='outer',并打印出
res = pd.merge(left, right, left_index=True, right_index=True, how='outer')
print(res)
#      A    B    C    D
# K0   A0   B0   C0   D0
# K1   A1   B1  NaN  NaN
# K2   A2   B2   C2   D2
# K3  NaN  NaN   C3   D3

#依据左右资料集的index进行合并，how='inner',并打印出
res = pd.merge(left, right, left_index=True, right_index=True, how='inner')
print(res)
#     A   B   C   D
# K0  A0  B0  C0  D0
# K2  A2  B2  C2  D2

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3
     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2